<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyz.adi.common.mapper.DocumentSegmentChildChunkMapper">

    <update id="incrementHitCountByEmbeddingIds">
        update adi_document_segment_child_chunk
        set hit_count = hit_count + 1
        where is_deleted = false
          and embedding_id in
        <foreach collection="embeddingIds" open="(" separator="," close=")" item="id">#{id}</foreach>
    </update>
</mapper>
