<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyz.adi.common.mapper.WorkflowNodeMapper">
    <select id="getStartNode" resultType="com.moyz.adi.common.entity.WorkflowNode">
        select *
        from adi_workflow_node
        where is_deleted = false
          and workflow_id = #{workflowId}
          and node_type = 1
    </select>
</mapper>
